:root {
  --starwarsWhite: #fcfeff;
  --starwarsLogoYellow: yellow;
  --starwarsBlack: black;
  --starwarsGrey: #656565;
  --starwarsDarkGrey: #414141;
  --phantomMenaceOrange: #f29000;
  --phantomMenaceRed: #911914;
  --clonesBlue: #9cd0ff;
  --clonesOrange: #de982e;
  --clonesDarkBlue: #0c59a5; 
  --revengeofSithOrange: #fc9134;
  --revengeofSithRed: #e7531a;
  --aNewHopeOrange: #e99f6f;
  --aNewHopeDarkOrange: #b36f35; 
  --aNewHopeYellowPale: #d7c078; 
  --empireStrikesBackBlue: #101f30;
  --empireStrikesBackRed: #af2125;

}

body{
  background-color: var(--starwarsBlack);
  color:var(--starwarsWhite);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


header{
  background-color:  var(--starwarsBlack);
  color: var(--starwarsWhite);
  font-family: Helvetica, sans-serif;
  font-size:5px;
  padding:1rem;
  display:flex;
  flex-direction: column;
  align-items: center;
}
header > img{
  max-width:100px;
}

main{
  background-image: url(https://images.unsplash.com/photo-1445905595283-21f8ae8a33d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1473&q=80);
  background-size: cover;
  height: 80vh;
  padding: 2rem;
  color: var(--starwarsWhite);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  background-color: var(--starwarsBlack);
  padding:2rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(10px 10px 40px blue);
}


* img {
  border-radius: 29px;
  max-width:400px;
  filter: grayscale(100%);
}
img:hover{
  filter:grayscale(0%);
}

.video{
  background-color: transparent;
  margin-top:-20rem;
}

.label{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom:1rem;
 
}

select{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding:0.3rem;
  margin:0.3rem;
 
  font-weight: bold;
  border:none;
  background-color: var(--aNewHopeYellowPale);
  color:#101f30;
}

select option {
  background-color: var(--starwarsLogoYellow);
  font-weight: bold;
}


#fetchData{
  font-weight: bold;
  letter-spacing: 1px;
  padding:0.3rem;
  border:none;
  margin-left:0.3rem;
  text-align: center;
  background-color: var(--aNewHopeYellowPale);
  margin-top:0.3rem;
}
#fetchData:hover{
  background-color: var(--starwarsLogoYellow);
}


form{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

label{
  font-size:18px;
  margin-left:2px;
}

footer{
  padding:1rem;
  text-align: center;
}


#inHereTheyShallBe{
display:flex;
flex-direction: row-reverse;
align-items: center;
justify-content: center;
margin-top:2rem;
width:100%;
background-color: var(--empireStrikesBackBlue);
}

.characters--row{
display:flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin:1rem;
padding:1rem;
}

.button--comparisons{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom:1rem;
  width:50%;
}

.button--comparisons >button{
  margin:0.4rem;
  padding:0.2rem;
  margin-top:0rem;
  width:100%; 
  max-width:100%;
  font-weight: bold;
  text-transform: capitalize;
  border:none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.button--comparisons >button:first-of-type{
  background-color: var(--revengeofSithOrange);
  color: var(--starwarsBlack)
  
}
.button--comparisons >button:nth-last-of-type(1){
  background-color: var(--empireStrikesBackRed);
  color: var(--starwarsWhite)
}
.button--comparisons >button:nth-last-of-type(3){
  background-color: var(--clonesOrange);
  color: var(--starwarsBlack)
}
.button--comparisons >button:nth-last-of-type(2){
  background-color: var(--revengeofSithRed);
  color: var(--starwarsWhite)
 
}

.button--comparisons >button:hover{
  background-color: var(--starwarsLogoYellow);
  width:100%;
  color: var(--starwarsBlack)
}

.button--comparisons >button:focus{
  background-color: var(--clonesBlue);
  width:100%;
  color: var(--starwarsBlack);
}

a{
  color: var(--aNewHopeOrange)
}

.heading{
  color: var(--starwarsLogoYellow);
  text-transform: uppercase;
}

.hidden{
  display:none;
}